.form--fields{ 'dropdown-content': true, 'up-show-for': '🔖' }
  -# .home-index{ 🔖: true }
  .headline Bookmarks
  Hallo
  - @bookmarks.each do |bookmark|
    = link_to bookmark.url do

      = bookmark.name
      = bookmark.url
      = bookmark.description
