# Ignore bundler config.
/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/db/schema.rb

/storage/*
!/storage/.keep
/public/system/*

/node_modules
/yarn-error.log

/public/assets
.byebug_history

.idea/
