.headline
  Add a drawer
.form--text
  %p Drawers are cool.
  %p Drawers are your new way to organize things.
  %p You can have multiple drawers.
  %p You can share drawers with your friends.
  %p Please create your first drawer or apply your invitation, before you can start using memorizationalize!

= render 'drawers/form'
