%style
  = ".color-hover:hover { background-color: #{current_user&.color} !important; color: white !important; }"
  = ".color-hover:hover a { color: white; }"
  = ".color-hover:hover .checkbox { border-color: white; }"
