.section
  .section--text
    %p
      Die
      %span.section--headline<
        Freie evangelische Gemeinde
      Augsburg-Süd ist Mitglied im Bund Freier evangelischer Gemeinden (BFeG),
      dem über 437 Gemeinden mit rund 37.500 Mitgliedern angehören. Der BFeG nimmt Aufgaben in Diakonie, Seelsorge,
      Kinder- und Jugendarbeit u.v.m. wahr. Wie andere Kirchen besitzt der BFeG die Anerkennung einer Körperschaft
      des öffentlichen Rechtes (KdöR).
    %p
      Übrigens sind Freikirchen auf allen Kontinenten der Erde vertreten.

.section
  .section--text
    %p
      Derzeit ist unsere Gemeinde ohne
      %span.section--headline<
        Pastor.
      Für Fragen und Informationen steht die Gemeindeleitung zur Verfügung.

.section
  .section--text
    %p
      Unsere
      %span.section--headline<
        Gemeindeleitung
      besteht momentan aus drei Personen:
      %ul
        %li Gabi Dudat
        %li Hartwig Wägner
        %li Jakob Scholz

    %p
      Telefon:
      - phone_number = number_to_phone('01759123709')
      = link_to phone_number, "tel:#{phone_number}"
      %br
      E-Mail:
      = mail_to 'gemeindeleitung@augsburg-sued.feg.de'
