.section
  .section--text
    %p
      %span.section--headline<
        Was wir glauben
      hat mit Jesus zu tun.
      Wir glauben, dass Jesus Christus der entscheidende Helfer ist, den Gott zu uns auf die Erde geschickt hat,
      um uns von unserer Schuld frei zu machen und uns Hoffnung über den Tod hinaus zu schenken. Wir glauben, dass
      jeder Mensch durch eine persönliche Entscheidung für Jesus Christus diese Chance hat. Hierzu laden wir Sie ein.

    %p
      Das Apostolische Glaubensbekenntnis beschreibt den Inhalt unseres Glaubens.

.section
  .section--text
    %p
      %span.section--headline<
        Wie wir leben
      ist geprägt von der Überzeugung, dass es heute möglich ist, auf der Grundlage der Bibel als Gemeinde Jesu
      verbindlich miteinander zu leben.

    %p
      Wir feiern das Abendmahl und taufen auf das Bekenntnis zu Jesus Christus. Auch wenn Sie in unserer Gemeinde
      keinen Kirchturm finden, unser Pastor keinen Talar trägt und unser Gottesdienst keine feste Liturgie enthält, ist unsere Gemeinde eine Kirche evangelischer Prägung.

    %p
      Wir erheben keine Kirchensteuer und betonen die Trennung von Staat und Kirche. In Verantwortung vor Gott
      stellen die Gemeindeglieder freiwillig Zeit und Geld zur Verfügung. Wir pflegen den Kontakt zu anderen
      Gemeinden aus Frei- und Landeskirchen, beispielsweise im Rahmen der Evangelischen Allianz.

.section
  .section--text
    %p
      %span.section--headline<
        Welche Schwerpunkte wir setzen
      hat mit den Aussagen der Bibel zu tun: Wenn sie der Maßstab für das persönliche Leben der Gemeindeglieder und das
      gemeinsame Leben der Gemeinde ist, dann haben konsequenterweise das Studium der Bibel und das Hören auf Gottes Wort
      einen hohen Stellenwert. Dabei geht es nicht um trockene, theologische Ausführungen: Wir erwarten aus der Bibel
      konkrete Lebenshilfe für unseren Alltag.

    %p
      Gerade wenn die Unsicherheit in allen Lebensbereichen zunimmt und es keine gemeinsame Basis mehr gibt, ist es für den
      einzelnen Menschen wichtig, für sein Leben einen sicheren, verlässlichen Grund zu finden. In den Arbeitsgruppen der
      Gemeinde geht es daher um menschliche Kontakte, Vertiefung im Glauben und um die Erfüllung unserer Aufgaben als
      Gemeinde.
