@import ../variables

=drawer--field
  position: relative
  display: flex
  flex-wrap: wrap
  justify-content: center
  // flex-direction: column
  align-items: center
  margin: 10px 15px
  width: 100%

  @media(min-width: #{$max-mobile-width})
    flex-direction: row
    margin: 0 15px
    width: unset

.drawer--index
  display: flex
  flex-direction: column
  // width: 100%
  // align-items: center

.drawer
  position: relative
  display: flex
  flex-wrap: wrap
  flex-direction: column
  align-items: center
  margin-bottom: $spacing

  @media(min-width: #{$max-mobile-width})
    flex-direction: row
    margin: $tiny-spacing

.drawer--row
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

  @media(min-width: #{$max-mobile-width})
    flex-direction: row
    width: auto

.drawer--color
  width: 1rem
  height: 1rem
  border: 1px solid $black
  border-radius: 3px
  color: transparentize($black, 1)
  font-size: 0

  &:hover
    cursor: pointer

.drawer--name
  +drawer--field
  font-weight: bold

.drawer--description
  +drawer--field

.drawer--users
  +drawer--field

.drawer--user
  margin: 0 5px
  text-decoration: underline

  &:hover
    text-decoration: none

.drawer--invitation
  +drawer--field
  justify-content: space-between
  align-items: center
  height: calc(1.5em + 2px)
  min-width: 150px
  background-color: lighten($light-grey, 10)
  border: 1px solid $grey
  border-radius: 3px
  padding: 3px 15px
  width: calc(100% - 30px)

.drawer--invite-code
  position: relative

.drawer--generate-invite-code
  margin: -10px 0 -10px 0
  font-size: 1.5em
  font-weight: bold

  &:hover
    color: $highlight-color
