@import ../variables
@import ../mixins

.modal
  display: flex
  flex-direction: column
  height: 100%

.modal--header
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  border-bottom: 1px solid $black
  margin-bottom: $wide-spacing
  height: $wide-spacing
  padding: $spacing 0 $small-spacing 0

.modal--content
  display: flex
  flex-direction: column
  // justify-content: center
  align-items: center
  padding: $tiny-spacing
  overflow-x: hidden
  overflow-y: auto

  @media(min-width: #{$max-mobile-width})
    padding: $spacing

.modal--edit
  +button
  position: absolute
  margin: 0 $wide-spacing
  right: 0

.modal--text
  width: 60%
  min-width: 400px
  min-height: 400px
  // border: 1px solid darken($grey, 20)
  border-radius: 3px
  padding: $spacing
