@import ../variables
@import ../mixins

$post-it-size: 30vw
$post-it-content-size: calc(100% - 20px)

.post-it
  display: flex
  flex-direction: column
  width: 200px
  height: 200px
  max-width: $post-it-size
  max-height: $post-it-size
  padding: 5px
  overflow: hidden

  @media(min-width: #{$max-mobile-width})
    position: absolute

    &.-moving:not(.-uninitialized)
      transition: top 1s, left 1s

    &.-uninitialized
      top: 50%
      left: 50%
      opacity: 0

  // &.-dispatched
  // position: absolute

.post-it--image
  position: absolute
  top: 0px
  left: 0px
  bottom: 0px
  right: 0px

  svg
    fill: $post-it-yellow

.post-it--header
  position: relative
  display: flex
  justify-content: flex-start
  align-items: center
  text-align: center
  overflow: hidden
  width: $post-it-content-size
  height: 30px
  padding: 5px

.post-it--name
  display: inline-block
  position: relative
  width: $post-it-content-size
  max-height: 45px
  text-overflow: ellipsis
  overflow: hidden
  font-size: $font-size-tiny
  text-transform: uppercase
  padding: 5px

.post-it--description
  overflow: hidden
  position: relative
  width: $post-it-content-size
  height: 60%
  padding: 5px
  font-size: $font-size-tiny
  word-wrap: break-word

  p
    margin: 0

.post-it--drag
  width: $font-size
  height: $font-size

  &:hover
    cursor: grab

  &:active
    cursor: grabbing

  &.-hidden
    display: none

.post-it--delete
  position: absolute
  bottom: 40px
  right: 35px
  width: 15px
  height: 15px

  &.-hidden
    display: none

  &.-flipped
    left: 25px
