@import ../variables
@import ../mixins

.todos--table
  display: table
  width: 100%
  table-layout: fixed
  overflow-wrap: break-word
  border-collapse: collapse

.todos--row
  display: table-row
  overflow: hidden

  &.todo:hover
    background-color: $hover-color

.todos--cell
  display: table-cell
  vertical-align: middle
  font-size: $font-size
  padding: ($form--field-padding / 2) $form--field-padding

  &[w-auto]
    width: auto
  &[w-1]
    width: $todo--cell-width * 1.5
  &[w-2]
    width: $todo--cell-width * 2
  &[w-3]
    width: $todo--cell-width * 3

  &[align-center]
    text-align: center
  &[align-right]
    text-align: right
