@import ../variables
@import ../mixins

.todos
  overflow-x: auto

  // @media(min-width: #{$max-mobile-width})
  //   overflow-x: auto

.todos--table
  display: table
  width: 100%
  table-layout: fixed
  // overflow-wrap: break-word
  border-collapse: collapse

  // @media(min-width: #{$max-mobile-width})
  //   width: 100%

.todos--row
  display: table-row
  max-width: 100%
  // overflow: hidden

  &.todo:hover
    background-color: $hover-color

.todos--cell
  display: table-cell
  vertical-align: middle
  font-size: $font-size
  padding: ($form--field-padding / 2) $form--field-padding
  overflow: hidden
  word-wrap: normal
  text-overflow: ellipsis
  // width: auto

  &[wide]
    width: auto
    min-width: 100px
  &[semi-narrow]
    width: 100px
  &[narrow]
    width: 60px

  &[align-center]
    text-align: center
  &[align-right]
    text-align: right
