.header--banner
  = link_to header_title, root_path, class: 'header--title', 'up-target': '.content', 'up-restore-scroll': true

  .header--links
    - if user_signed_in?
      .header--sign-out
        = link_to "Abmelden", sessions_path, method: :delete, class: 'header--link', 'up-target': 'body'

- if user_signed_in?
  = render 'home/forms'
