.header--title
  = user_signed_in? ? "#{current_user.name}s memorizationalize" : 'memorizationalize'
.header--links
  - if user_signed_in?
    .header--sign-out
      = link_to "Abmelden", sessions_path, method: :delete, class: 'header--link'
