!!! 5

%html
  %head
    %title Memorizationalize
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    .modal= yield
    .no-target
